body {
  font-family: 'Segoe UI', Arial, sans-serif;
  background: url("./assets/bg.png") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  margin: 0;
}

.container {
  max-width: 400px;
  margin: 40px auto;
  background: #fff;
  border-radius: 18px;
  padding: 32px 24px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.12);
}

.main-section {
  text-align: center;
}

.search-bar {
  position: relative;
  width: 100%;
  margin-bottom: 16px;
}

#search-input {
  width: calc(100% - 42px - 14px);
  padding: 10px 42px 10px 14px;
  border: 1px solid #ACB6E5;
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
}

#search-input:focus {
  border-color: #74ebd5;
}

.search-icon {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  color: #74ebd5;
  font-size: 1.2rem;
  cursor: pointer;
  transition: color 0.2s, transform 0.2s;
}

.search-icon:hover {
  color: #4fc3b7;
  transform: translateY(-50%) scale(1.1);
}

.city-name {
  font-size: 1.4rem;
  font-weight: 600;
}

.weather-state {
  font-size: 1rem;
  color: #666;
}

.weather-icon {
  width: 80px;
  height: 80px;
  margin: 8px auto;
  display: block;
}

.weather-temperature {
  font-size: 2.2rem;
  font-weight: bold;
  color: #2d3436;
}

.additional-section {
  margin-top: 18px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  gap: 4px;
}

.item {
  background: #f7f9fa;
  border-radius: 10px;
  padding: 12px;
  width: 48%;
  text-align: center;
  border: #636e72 0.1px solid;
}

.label {
  font-size: 0.9rem;
  color: #636e72;
}

.value {
  font-size: 1.1rem;
  font-weight: 500;
}

/* Animation cho ShinyText */
@keyframes shine {
  0% { 
    background-position: 100%; 
  }
  100% { 
    background-position: -100%; 
  }
}

.animate-shine {
  animation: shine linear infinite;
}

@keyframes gradient {
  0% { 
    background-position: 0% 50%; 
  }
  50% { 
    background-position: 100% 50%; 
  }
  100% { 
    background-position: 0% 50%; 
  }
}

.animate-gradient {
  animation: gradient linear infinite;
}

.relative { position: relative; }
.mx-auto { margin-left: auto; margin-right: auto; }
.flex { display: flex; }
.max-w-fit { max-width: fit-content; }
.flex-row { flex-direction: row; }
.items-center { align-items: center; }
.justify-center { justify-content: center; }
.rounded-lg { border-radius: 1.25rem; }
.font-medium { font-weight: 500; }
.backdrop-blur { backdrop-filter: blur(8px); }
.transition-shadow { transition: box-shadow 0.15s ease-in-out; }
.duration-500 { transition-duration: 500ms; }
.overflow-hidden { overflow: hidden; }
.cursor-pointer { cursor: pointer; }
.absolute { position: absolute; }
.inset-0 { top: 0; right: 0; bottom: 0; left: 0; }
.bg-cover { background-size: cover; }
.z-0 { z-index: 0; }
.pointer-events-none { pointer-events: none; }
.bg-black { background-color: black; }
.z-[-1] { z-index: -1; }
.inline-block { display: inline-block; }
.z-2 { z-index: 2; }
.text-transparent { color: transparent; }
